body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6e0ed;
  }
  
  nav {
    background-color: #0a0131;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1 {
    font-size: 28px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #110542;
  }
  
  .frames-container {
    padding: 20px;
  }
  
  .frame {
    display: none;
    padding: 80px 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    color: #0a0131;
    font-size: 36px;
  }
  
  h3 {
    font-size: 24px;
    color: #0a0131;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  a {
    color: #0a0131;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 12px 24px;
    background-color: #0a0131;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #ffc107;
  }
  
  
  nav {
    background: linear-gradient(45deg, black, #beb5cb);
  }

  .frames-container {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  
  ul li a {
    font-weight: bold;
  }
  
  
  aside img {
    border-radius: 50%;
    border: 5px solid #0a0131;
    padding: 1px;
  }
  
  
  .button1 {
    align-items: center;
    display: flex;
    height: 130px;
    justify-content: center;
  }

  .b{
    
        background-color: black;
        color: white;
        border: 2px solid white; 
  }

  .pic { 

    border-radius: 50%; 
} 

.detail {
  box-shadow: 10px 10px;
}





